<header>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <style>
  body {
    background:white;
    color: black;
    font-family: Helvetica-neue, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  header{
    background-color: black;
    color:white;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  a{
    text-decoration: none;
    font-size: 18px;
    margin: 35px;
  }
  a:hover{
    text-decoration: none;
    background-color: pink;
  }

  </style>
  <div class="w3-bar w3-wide w3-left-align">
     <a href="home"> TRAVELLOPEDIA</a>
  </div>
  </header>

  <body>
  <h1 style="margin-left: 540px; margin-top: 30px"> Ticket Successfully Booked </h1>
  </body>
